@{
    ViewBag.Title = "SimpleDynamic";
}

<script type="text/javascript">
    $(function () {
        function ViewModel() {
            this.firstName = ko.observable();
            this.lastName = ko.observable();
        }

        ko.applyBindings(new ViewModel());
    });
</script>

<h2>Simple Dynamic Knockout Sample</h2>

<p>Who are you?
<br />First: <input data-bind="value: firstName" />
<br />Last: <input data-bind="value: lastName" />
</p>
<p>Hello <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span>!</p>
